<div id="center">
  <input placeholder="Insira uma nova categoria" [(ngModel)]="categoria.Nome" id="inputCategoria">
  <input type="color" [(ngModel)]="categoria.Cor" id="backgroundCategoria">
  <button (click)="adcionarCategoria()" id="botao">Criar Categoria</button>
</div>

<div>
  <h3 id="center">Categorias Cadastradas:</h3>
  <div id="grid">
    <div *ngFor="let categoria of listaCategoria" class="categoria" [style.background-color]="categoria.Cor"><p class="nomeCategoria">Categoria:
      {{categoria.Nome}}</p>
      <button (click)="excluirCategoria(categoria)" id="excluir">🗑️</button>
    </div>

  </div>
</div>