
<h3 id="center">Cadastro de propriedades</h3>
<input placeholder="Título" [(ngModel)]="nome"/>
<select  [(ngModel)]="selecao1" >
    <option *ngFor="let selecao of listaSelecao">{{selecao}}</option>
    

</select>

<button (click)="salvarPropriedades()" [disabled]="disabilitar"> Salvar </button>

<div *ngFor="let propriedade of listaPropriedade"> propriedade: {{propriedade.nome}}
<button (click)="excluirPropriedades(propriedade)"> Excluir </button>
</div>
<div *ngIf="selecao1 == 'Categoria'" >
    <todo [nome]="nome"></todo>
</div>