<div class="alinhar">
   <input placeholder="Insira sua tarefa" [(ngModel)]="tarefa.Descricao" id="INPUT"/>
<button (click)="adicionarTarefa()" id="cadastrar"  [disabled]="variavelBoolean">Cadastrar</button>
<select [(ngModel)]="tarefa.Categoria">
   <option *ngFor="let categoria of listaCategoria" >{{categoria.Nome}}</option>
  
   </select> 
  </div>
<div class="grid">
     <div *ngFor="let categoria of listaCategoria" class="listasDI" (dragover)="dragover(categoria.Nome)" ><div id="centro" [style.background-color]="categoria.Cor"  >{{categoria.Nome}}</div>
  
      <div *ngFor="let tarefa of listaTarefas">

        <div *ngIf="tarefa.Categoria == categoria.Nome">
          
        <div class="alinhar"class="listasT" class="categoria" [style.background-color]="categoria.Cor"  draggable="true" (dragover)="pegaposicao(tarefa)" (dragend)="dragEnd(tarefa)">  Descricao: {{tarefa.Descricao}}
     
          
          
          <button (click)="excluirTarefa(tarefa)" id="excluir" [disabled]="variavelBooleanRemove">🗑️</button>
        
        
            <select class="select"
            [(ngModel)]="tarefa.Categoria"
            (change)="atualizarLocalStorage()">
            <option *ngFor="let categoria of listaCategoria">{{categoria.Nome}}</option>
            </select>
            <div *ngFor="let propriedade of listaPropriedade; let i = index" [style.background-color]="categoria.Cor">
              <input placeholder="propriedade: {{propriedade.nome}}" [(ngModel)]="valorCampos[i]" (input)="salvaEscrito()" >
            </div>
        </div>
      
      </div>
      </div>
      
    </div>
    </div>
    
  
  

 

    


