<div id="boxFlex">

  <div id="modalBox">
    <div class="text">CADASTRO</div>
    <div id="inputBox">

      <input class="input" type="text" placeholder="Nome" [(ngModel)]="userNome" required>

      <input  class="input" placeholder="User Name" [(ngModel)]="userName" required>

      <input  class="input" placeholder="Email"  [(ngModel)]="userEmail" required>

      <input  class="input" placeholder="Senha" [(ngModel)]="userSenha" required>

      

      
    
      <button id="buttonAcessar" (click)="cadastrar(userNome,userEmail,userSenha,userName)"> Cadastrar </button>
    </div>
  
  
  </div>
  </div>
