.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#border{
  border-style: solid;
  border-radius: 20px;
  width: 500px;
  height: 35px;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
}
#excluir{
 margin-left: 10px;
 background-color: red;
}
#cadastrar{
  background-color: green;
}
.todo{
  margin-left: 30px;
}
.listasT{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px ;
  width: 300px;
  height: 30px;
  border-style:solid ;
  border-radius: 30px;
  border-color: red;
  font-size: 20px;
}
.listasDI{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px ;
  width: 300px;
  height: 30px;
  border-style:solid ;
  border-radius: 20px;
  border-color: yellow;
  font-size: 20px;
}
.listasDN{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px ;
  width: 300px;
  height: 30px;
  border-style:solid ;
  border-radius: 20px;
  border-color: green;
  font-size: 20px;
  
}
.grid{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}
