.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
    font-family:Arial, Helvetica, sans-serif;
}
#border{
  border-style: solid;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
}
#excluir{
 margin-left: 10px;
 background-color: red;
 margin-right: 5px;
}
#cadastrar{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 10px;
}
.todo{
  margin-left: 30px;
}

.listasDI{
  margin-bottom: 25px ;
  width: auto;
  height: 400px;
  border-style:solid ;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 15px;
  font-family:Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.select{
  background-color: white;
}
#INPUT{
  background-color: white;
  border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    width: 300px;
    background-color: white;
}
.categoria{
    margin-bottom: 7px ;
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color:white;
    margin-left: 5px;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    word-break: break-all;
    overflow-y: scroll;
    color: white;
    
   
}
#centro{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alinhando{
  display: flex;
  justify-content: center;
  align-items: center;
}
#existe{
  width: 100px;
    
  background-color: #4CAF50;
}